// Light
$main : #0A5C99;
$secondary : #79D70A;
$border : #E4E5EC;
$icons : #71748E;
// backgrounds
$whiteBg : #FCFCFD;
$bg : #F3F3F7;
$inputsBg : #F3F3F7;
$errorBg : #F7E8F1;
$successBg : #E0F5E6;
// Fonts
$primaryF : #13131B;
$secondaryF : #5F6177;
$third : #8386A0;
$placeholder : #C5C7D3;
$light : #F6F7F8;